.chatroom {
  background-color: rgba(0, 0, 0, 0.9);
}

.chatroom-screen {
  display: flex;
  flex-direction: column;
}

.chatroom-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chatroom-timestamp {
  font-size: 10px;
  padding: 8px 15px;
  background-color: rgba(90, 90, 90, 0.5);
  border-radius: 10px;
}

.chatroom-income {
  display: flex;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
}

.chatroom-income__photo {
  width: 40px;
  height: 40px;
  border-radius: 15px;
}

.chatroom-income__content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.chatroom-income__username {
  font-size: 13px;
  color: rgba(90, 90, 90, 0.9);
  margin-bottom: 5px;
}

.chatroom-income__message {
  display: flex;
  align-items: flex-end;
}

.chatroom-income__message-body {
  font-size: 14px;
  padding: 8px 15px;
  background-color: rgba(90, 90, 90, 0.5);
  border-radius: 10px;
  border-top-left-radius: 0px;
}

.chatroom-income__message-timestamp {
  font-size: 13px;
  color: rgba(90, 90, 90, 0.8);
  margin-left: 5px;
}

.chatroom-outgoing {
  display: flex;
  justify-content: right;
  margin-top: 20px;
  margin-right: 20px;
}

.chatroom-outgoing__message {
  display: flex;
  align-items: flex-end;
  margin-left: 10px;
}

.chatroom-outgoing__message-timestamp {
  font-size: 13px;
  color: rgba(90, 90, 90, 0.8);
  margin-right: 5px;
}

.chatroom-outgoing__message-body {
  color: black;
  font-size: 14px;
  padding: 8px 15px;
  background-color: var(--yellow);
  border-radius: 10px;
  border-top-right-radius: 0px;
}

.reply {
  display: flex;
  width: 100%;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgba(90, 90, 90, 0.5);
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  color: rgba(90, 90, 90, 0.9);
  font-size: 20px;
}

.reply-add {
  background-color: transparent;
  width: 10%;
}

.reply-inputfield {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 80%;
  position: relative;
}

.reply-inputfield__message {
  background-color: transparent;
  border: 1px solid rgba(90, 90, 90, 0.9);
  border-radius: 20px;
  padding: 10px;
  width: 70vw;
}

.reply-inputfield__emoji {
  position: absolute;
  right: 40px;
}

.reply-inputfield__hashtag {
  background-color: transparent;
  position: absolute;
  right: 10px;
}

.reply-audio {
  width: 10%;
  background-color: transparent;
  text-align: right;
}

.reply-keyboard {
  display: flex;
  width: 100%;
  padding: 10px 10px 20px 10px;
  box-sizing: border-box;
  background-color: rgba(90, 90, 90, 0.5);
  position: fixed;
  bottom: 320px;
  justify-content: space-between;
  align-items: center;
  color: rgba(90, 90, 90, 0.9);
  font-size: 20px;
}

.reply-keyboard__key {
  width: 100%;
  position: fixed;
  bottom: 0px;
}
