.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  position: fixed;
  top: 45px;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}

.screen-header__title {
  font-size: 25px;
  font-weight: 600;
}

.screen-header__icon i {
  margin: 0px 5px;
}

.screen-header__titles {
  display: flex;
}

.screen-header__main {
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
}

.screen-header__sub {
  font-size: 25px;
  font-weight: 600;
}

.unselected-chat {
  color: rgba(128, 128, 128, 0.8);
}

@keyframes iconHover {
  from {
    transform: none;
  }
  to {
    transform: scale(1.2);
  }
}

.screen-header__icon i:hover {
  animation: iconHover 0.1s ease-in-out forwards;
}
