.user-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

.user-profile__card {
    display: flex;
    align-items: center;
}

.user-profile__photo {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin: 0px;
}

.user-profile__info {
    margin: 0px 15px;
}

/* .user-profile__user {
    display: flex;
    align-items: center;
} */

.user-profile__name {
    display: inline;
    font-size: 15px;
    font-weight: 400;
    margin: 5px 0px;
}

.user-profile__subtitle {
    font-size: 14px;
    color:rgba(128, 128, 128, 0.8);
    margin: 5px 0px;
}

.user-profile__giftshop {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid tomato;
    border-radius: 10px;
}

.user-profile__giftname {
    font-size: 14px;
    font-weight: 200;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.user-profile__giftshop i {
    color: tomato;
}

.update-users {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.update-users__card {
    margin: 0px 15px 0px 0px;
    align-items: center;
}

.update-users__photo {
    width: 40px;
    height: 40px;
    border-radius: 15px;
    margin: 0px;
}

.update-users__name {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0px;
    text-align: center;
}

.user-profile__music {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    border: 1px solid green;
    border-radius: 10px;
}

.user-profile__musicname {
    font-size: 14px;
    font-weight: 200;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
}

.user-profile__music i {
    color: green;
}

.user-profile__date {
    font-size: 14px;
    color:rgba(128, 128, 128, 0.8);
    margin: 0px 5px;
}